{% if current_user %}
<ul class="breadcrumb">
  <li><a href="{{space.permalink}}" title="link back to {{space.title}} homepage">&#8617; back to all {{idea.title}}</a></li>
</ul>

<div class="entry edit">
    <span class="edit-title">Editing {{theme.idea_context}}:</span>
    <h1>{{idea.title}}</h1>
    
<!-- Edit form -->
<form id="entry_form" method="post" action="{{idea.permalink}}" class="clearfix" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="put" />
    <div id="edit-idea">
        <fieldset>
            <input class="span4 required" id="idea_title" name="idea[title]" type="text" value="{{idea.title}}">
            <div class="input"><textarea id="idea_content" name="idea[content]" rows="3" placeholder="Your {{theme.idea_context}}" class="required">{{ idea.content }}</textarea></div>
            <input type="submit" value="update idea" class="btn primary submit" />
        </fieldset>
    </div>
</form>
{% endif %}

</div>