<ul class="breadcrumb">
  <li><a href="{{space.permalink}}" title="link back to {{space.title}} homepage">&#8617; back to all {{theme.ideas_context}}</a></li>
</ul>

<div class="entry">
    <h1>{{idea.title}}</h1>

    <div class="meta">
        <a href="{{idea.participant.image_url}}" title="link to {{idea.user.fname}} on {{idea.participant.provider}}"><img src="{{idea.participant.image_url}}" alt="avatar for {{%idea.participant.nickname%}}" width="25" height="25" class="avatar" /></a>
        <span class="author">by <a href="{{idea.participant.profile_url}}" title="link to {{idea.participant.nickname}} on {{idea.participant.provider}}">{{ idea.participant.nickname }}</a> {{ idea.created_at | human_time_distance }} ago</span>
        <div class="actions">
            <ul>
                {% if idea.liked? %}
                <li class="first"><span class="action-like on">{{theme.like_context}} <strong>({{ idea.likes }})</span></li>
                {% else %}
                <li class="first"><div class="action-like" the_link="{{idea.like_link}}"> {{theme.like_context}} <strong class="likecount">({{idea.likes}})</strong></div></li>
                {% endif %}
                <li class="last"><a href="#comments" title="link to comments for {{idea.title}}" class="action-discuss">{{theme.comments_context}} <strong>({{ idea.comments_count }})</strong></a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        {{idea.content | markdown}}
        {% if idea.user.uuid == current_user.uuid %}
        <a href="{{idea.permalink}}/edit" title="link to edit {{idea.title}}" class="btn">edit {{theme.idea_context}}</a>
        {% endif %}
    </div>

    {% if idea.interested_participants != empty %}
    <div class="interest">
        <h3>people interested in this:</h3>
        <ul class="interested-people">
        {% for user in idea.interested_participants %}
            <li>
              <a href="{{ user.profile_url }}" title="{{ user.nickname }}'s {{ user.provider }} profile">
                <img src="{{ user.image_url }}" alt="{{ user.nickname }}" width="40" height="40" class="avatar" />
              </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div id="comments">
        <h3>{{theme.comments_context}}</h3>
        {% if current_user %}<a href="#comments-form" title="link to add a comment form for {{idea.title}}" class="btn">add {{theme.comment_context}}</a>{% endif %}
        {% if idea.comments != empty %}
        <ol>
            {% for comment in idea.comments %}
            <li><a href="{{ comment.user.profile_url }}" title="{{ comment.user.nickname }}'s {{ comment.user.provider }} profile"><img src="{{comment.user.image_url}}" alt="avatar for {{%comment.user.name%}}" width="25" height="25" class="avatar" /></a><div class="author">{{ comment.created_at | date: "%b %m %Y" }} <strong><strong><a href="{{ comment.user.profile_url }}" title="{{ comment.user.nickname }}'s {{ comment.user.provider }} profile">{{ comment.user.nickname }}</a></strong></strong> said...</div><div class="comment">{{ comment.body | markdown }}</div></li>
            {% endfor %}
        <ol>
        {% else %}
        <ol>
            <li><p>There aren't any {{theme.comments_context}} here yet! Maybe you could be the first to add one?</p></li>
        </ol>
        {% endif %}

        {% if current_user %}
        <div id="comments-form">
            <h3>add a {{theme.comment_context}}</h3>
            <form action="{{idea.permalink}}/comments" method="post">
                <div class="input"><textarea id="comment_body" name="comment[body]"></textarea></div>
                Share this idea:
                <a
                  href="https://twitter.com/intent/tweet?text={{ space.permalink }}"
                  class="button button--small button--twitter" id="twitter-share">
                  <img
                    width="22"
                    height="17"
                    src="{{ 'icon-twitter-white.png' | image_url }}"
                    alt="Twitter">
                </a>
                <a
                  href="https://www.facebook.com/sharer/sharer.php?u={{ space.permalink }}"
                  class="button button--small button--facebook">
                  <img
                    width="22"
                    height="17"
                    src="{{ 'icon-facebook-white.png' | image_url }}"
                    alt="Facebook">
                </a>
                <br/><br/><br/>
                <div class="checkarea">
                {% assign subscription = idea.subscription %}
                {% if subscription %}
                  {% if subscription.active? %}
                    <p>You are already subscribed to email notifications for this thread</p>
                  {% else %}
                    <p>You have unsubscribed to email notifications for this thread</p>
                  {% endif %}
                {% else %}
                  <label class="checkbox" style="width:auto;">
                    <input type="checkbox" name="comment[subscribe_to_notifications]"/ > subscribe to notifications for this thread?
                  </label>
                {% endif %}
                </div>

                <input type="submit" name="submit" value="post comment" class="btn primary" />
            </form>
        </div>
        {% else %}
        <div id="comments-auth">
            <h3>add a {{theme.comment_context}}</h3>
            <div class="alert-message tip"><i></i><p>login with twitter or facebook to add {{theme.comments_context}}</p></div>
            <ul class="auth">
                <li class="twitter"><a href="/auth/twitter" class="button"><span></span>Twitter</a></li>
                <li class="facebook"><a href="/auth/facebook" class="button"><span></span>Facebook</a></li>
            </ul>
        </div>
        {% endif %}
    </div>

    <span class="comment-count"><a href="{{idea.like_link}}" data-method="post">{{ idea.likes }}</a><br /><span class="like-label">{{theme.likes_context}}</span></span>
</div>
